h1 {
  text-align: center;
  margin: 20px 0;
  font-size: 2em;
  color: #444;
}

#leads-container {
  list-style-type: none;
  padding: 0;
  max-width: 75%;
  margin: 30px auto;
}

.list-item {
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
}

.list-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
  font-weight: bold;
}

.list-header p {
  font-style: italic;
  font-size: 1rem;
}

.list-footer {
  margin-top: 10px;
  font-size: 0.9em;
  text-align: left;
  justify-content: space-between;
}

#lead-btn-div {
  text-align: center;
  margin: 20px 0;
}

#lead-btn {
  position: fixed;
  bottom: 20px;
  right: 40px;
  padding: 12px 25px;
  font-size: 1em;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

#lead-btn:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

#today-call {
  text-align: end;
  margin-right: 50px;
}
